body.pages-landing {

	* {
		border: 1px solid red;
	}

	.container {
		max-width: 100%;
		width: 100%;
		margin-right: 0;
		margin-left: 0;

		header {
			object-fit: cover;
		}

		.logo-landing-page {
           width: 100px;
           height: 100px;
		}
	}
}