<h1>Your Maps</h1>


<h3> Scraping des onglet </h3>
  <div class="container">
    <h1>Mes onglets</h1>
    <h3 id="listeonglets" >Ma liste d'onglet visité</h3>
  </div>

<h3> Mes recherches </h3>
<% @folders.each do |folder| %>


  <h3><%= folder.name %></h3>
  <% folder.tabs.each do |tab| %>
  <p><%= tab.title %> <strong>url</strong> :<%= tab.url %></p>

  <% if folder.parent == nil %> <!-- #selectionne uniquement les folders qui n'ont pas de parent (=une map) -->
  <h3><%= folder.name %></h3>
  <% end %>
<% end %>
<% end %>

