<%= link_to 'singletab', folders_path %>

<header style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.unsplash.com/photos/hBuwVLcYTnA);">
	<%= image_tag("singletab_black_and_white", class: 'logo-landing-page') %>
	<h1>SINGLETAB</h1>
	<h3 class='tagline'>Simple and quick way to manage your tabs.</h3>

	<div class="call-to-action">
		<a href="" class="signup-now">Sign up</a>
	</div>
</header>

<div class="landing-page-content">
	<h2>Save time while browsing on the web</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non</p>

	<h2>Organize your tabs and catch the revelant information</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non</p>

	<h2>Speed up your computer</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non</p>
</div>