<header style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1499914485622-a88fac536970?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
	<div class="header-content">
	    <div class="title-container">
		  <%= image_tag("singletab_black_and_white.png", class: 'logo-landing-page') %>
		  <h1><%= link_to 'SINGLETAB', folders_path, class: 'main-title' %></h1>
		</div>
    
		<div class="action-container">
    <h3 class='tagline'>Simple and quick way to manage your tabs.</h3>
		  <div class="call-to-action">
		  	<%= link_to 'Sign up', new_user_registration_path, class: 'signup-now' %>
		  </div>
	    </div>
    </div>
</header>


<div class="landing-page-content">
  <div class="landing-page-content-section">
  	<div class="landing-page-article">
		<h2 class="article-title">Save time while browsing on the web</h2>
		<p class='article-content'>Catch and gather all your searches in one single tab view. Now, you can save your tabs in a data visualization and sort them faster with one click.</p>
	</div>

    <div class="landing-page-article">
		<h2 class="article-title">Organize your tabs and catch the revelant information</h2>
		<p class='article-content'>Never click again on your tabs to find what you're looking for. You can now search through them directly from the homepage.</p>
	</div>

    <div class="landing-page-article">
		<h2 class="article-title">Speed up your computer</h2>
		<p class='article-content'>Your browser is too slow ?  Try a faster way with SingleTab. You only need to install our extension to your browser. From now,  SingleTab will work for you to speed up your computer !</p>
	</div>
  </div>
</div>