.links-buttons {
	font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
	width: 100%;
	justify-content: flex-end;
	position: relative;
	bottom: 20px;
}

.links-buttons .folders-link, .maps-link {
	font-size: 14px;
	width: 50%;
	padding: 6px 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	box-shadow: $base-box-shadow;
}

.links-buttons .folders-link:hover, .maps-link:hover {
	text-decoration: none;
}

.links-buttons .folders-link {
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: $grey-medium;
}

.links-buttons .maps-link {
	border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: $grey-medium;
}

.links-buttons .active {
    background-color: white;
    color: black !important;
}
