.primary-button {
  background: black;
  color: white;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
    color: white;
  }
  &.block {
    display: block;
    width: 100%;
  }
}
