.cards-container-display {
  transition: all ease 0.3s;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-auto-flow: row;
  grid-auto-columns: minmax(240px, 1fr);
  border-radius: $base-border-radius;
  padding: 20px;
  padding-bottom: 3em;
}

.tab-body-description strong {
    background: #afb4ed;
    border-radius: $base-border-radius;
    font-weight: bolder;
    padding: 0 3px;
}
.tab-body-description li {
  margin-bottom: 10px;
}

.tab-card a{
  text-decoration:none;
}
.tab-card-content a{
  text-decoration:none;

}

.tab-card {
  background-color: white;
  border-radius: $base-border-radius;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 88px;
  padding: 10px;
  display: flex;
  box-shadow: $base-box-shadow;
  transition: transform ease 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.05);
  }
}

.tab-card img {
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.tab-card-content {
  padding: 0 8px;
  flex-grow: 1;
  height: 28px;
}

.tab-name, .tab-title {
  margin: 0;
}

.tab-name {
  text-transform: uppercase;
  font-size: 11px;
  color: $grey-medium;
}

.tab-title {
  height: 52px;
  overflow: hidden;
  font-size: 13px;
  line-height: 16px;
  color: $grey-dark;
}

.delete-icon {
  width: 11px;
  color: rgba(0, 0, 0, 0.1) !important;
  position: absolute;
  right: 6px;
  top: 4px;
}
