body.folders-search {
  .container {
    margin-bottom: 50px;
  }
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all ease 0.3s;
  margin: 0 8px;
  box-shadow: $base-box-shadow;
  border: 1px solid white;
}
.footer-links img:hover {
  transform: rotate(180deg);
}

.footer-copyright {
  font-family: 'Roboto';
}

.footer .fas.fa-beer {
  color: #D8973C;
}
