.background-modal {
	width: 100vw;
	height: 100vh;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	justify-content: center;
	align-items: center;
}

.confirm-modal {
	background-color: white;
	width: 400px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px 36px;
	z-index: 10;
	border-radius: $base-border-radius;
	box-shadow: $base-box-shadow;

	.confirm-modal-content {
		text-align: center;

		p {
			margin-bottom: 1.5rem;
		}

		.modal-buttons {
			display: flex;
      justify-content: space-evenly;

            .modal-btn {
                border: 1px solid $grey-light;
                padding: 8px 16px;
                border-radius: $base-border-radius;
                box-shadow: $base-box-shadow;
                width: 64px;
                color: $grey-dark;

                &:hover {
            	    cursor: pointer;
            	    transform: scale(1.05);
            	}

            	a.btn-yes.confirm-delete {
                    color: $grey-dark;
                    text-decoration: none;
            	}
            }
		}
	}
}
