.search-form-control {
  position: relative;
  margin-bottom: 40px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  background: white;
  height: 3.5rem;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  border: 1px solid #E7E7E7;
  &:focus {
    border: 1px solid $grey-light;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none !important;
  }
}

.simple_form {
  display: inline;
}

.user-search-header .simple_form .string{
  margin-bottom: 0px;
}

.user-search-header .simple_form .btn {
  color: gray;
  border-style: solid;
  border-radius:2px;
  border:1px solid #ccc;
  &:hover {
  color: #373a3d;
  background-color: #dee2e5;
  }
}

.search-form-control.form-group {

  .btn.btn-flat {
    display: flex;
    align-items: center;

    i {
      font-size: 15px;
    }

    p {
      font-family: 'Open Sans';
      margin-bottom: 0;
      margin-left: 8px;
    }
  }
}
