// @import "compass/css3";

$color-dark: #1E2027;
$width: 280px;
$width-compressed: 52px;

.sidenav-button, .fa-times {
  color: white;
}

.sidenav-button {
  position: absolute;
  left: 16px;
  top: -22px;
}

.fa-angle-right {
  position: absolute;
  top: 70px;
  margin: 8px;
  padding: 6px;
  border: 2px solid;
  border-radius: 2px;
  font-size: 14px;
}

.fa-hidden {
  display: none;
  transition: display 2s ease;
}

.fa-times {
  z-index: 2;
  position: absolute;
  top: 12px;
  left: 255px;
  display: inline;
}

.sidenav-hidden {
  display: none;
}

.sidenav{
  display: visible;
  z-index: 1;
  position: relative;
  width: $width;
  height: 99%;
  background-color: $color-dark;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius-right: 12px;
  transition: display 2s ease;

  .main-buttons{
    list-style-type: none;
    padding: 40px 0;
    color: #fff;
    li{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
    }
    
    & > li{
      padding: 16px $width-compressed;

      .fa{
        position: absolute;
        left: 12px;
        color: lighten($color-dark, 16);
      }

      &:hover, &:active, &:focus{
        .hidden{
          width: $width - $width-compressed;
        }
        background-color: lighten($color-dark, 5);
        cursor: pointer;
      }
    }
  }
}

.hidden{
  width: 0;
  height: 100%;
  padding: 64px 0;
  
  position: absolute;
  top: 0;
  right: 0;

  overflow: scroll;
  
  list-style-type: none;
  background-color: lighten($color-dark, 5);
  @include transition(0.5s);
  li{
    padding: 16px 24px;
    &:hover, &:active, &:focus{
      background-color: lighten($color-dark, 9);
    }
  }
}


body {
  background-color: lighten($color-dark, 68)
  }

  html,body {
    height:100%;
  }
.hidden::-webkit-scrollbar { width: 0 !important }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);