.user-search {
  background: white;
  box-shadow: $base-box-shadow;
  // padding: 20px;
  padding: 8px;

  .user-search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    box-shadow: $base-box-shadow;
    padding: 1em 1.5em;
    max-height: 68px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    h3 {
      flex-shrink: 1;
    }
  }
}


body.folders {
	.primary-button {
		height: 32px;
		min-width: 84px;
	}
}