.user-search {
  background: rgba(0, 0, 0, 0.03);
  box-shadow: $base-box-shadow;

  .user-search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 2em;
    box-shadow: $base-box-shadow;
    padding: 1em 1.5em;
    max-height: 68px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;

    .user-search-header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-search-title {
        flex-shrink: 2;
        margin: 0;
        margin-right: 2em;
        font-size: 16px;
      }

      h4 {
      	font-size: 1em;
      	padding: 8px 12px;
      	box-shadow: $base-box-shadow;
      	border: 1px solid rgba(0, 0, 0, 0.1);
      	border-radius: $base-border-radius;
      	margin: 0;
      	max-height: 2em;
      	min-width: 71px;
      }
    }
  }
}

body.folders {
	.primary-button {
		height: 32px;
		min-width: 84px;
	}
}


details[open] summary ~ * {
  animation: open .5s;
}

@keyframes open {
  0% {
  	max-height: 0;
  }

  100% {
  	max-height: auto;
  }
}