$base-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
$base-border-radius: 2px;

// Colors
$grey-light: #999;
$grey-medium: #666;
$grey-dark: #333;
$color-white: #ffffff;
$color-black: #212121;
$color-light: #f4f4f4;
$color-dark: #333333;
$color-grey: #777777;