<div class="footer">
      <div class="footer-links">
        <img src="https://ca.slack-edge.com/T02NE0241-UNY9A8GKG-b39faa461717-512" alt="Marco" class="team-mate">
        <img src="https://ca.slack-edge.com/T02NE0241-UNH4MDCGJ-0ee61023eedd-512" alt="Eric" class="team-mate">
        <img src="https://avatars0.githubusercontent.com/u/53219631?v=4" alt="Jojo" class="team-mate">
      </div>
      <div class="footer-copyright">
        SingleTab is a project developped with a lot of alcool <i class="fas fa-beer"></i> Enjoy!
      </div>
    </div>