<header class="header">
  <nav class="navbar">
    <div class="wrapper">
      <span><a class="logo" href="#">Logo</a></span>
      <ul class="menu">
        <li><a class="menu-link" href="#">Home</a></li>
        <li><a class="menu-link" href="#">Profile</a></li>
        <li><a class="menu-link" href="#">Service</a></li>
        <li><a class="menu-link" href="#">Works</a></li>
        <li><a class="menu-link" href="#">Contact</a></li>
      </ul>
    </div>
    <div class="toggle">
      <div class="span span-one"></div>
      <div class="span span-two"></div>
      <div class="span span-three"></div>
    </div>
  </nav>
  <div class="mobile">
    <ul class="menu">
      <li class="menu-item">
        <a class="menu-link" href="#">Home</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">About</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">Service</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">Works</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</header>